html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: rgb(35, 35, 37);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-canvas {
    background: rgb(45, 45, 47);
    display: block;
}

#start-button {
    background: rgb(0, 255, 136);
    border: none;
    color: rgb(45, 45, 47);
    cursor: pointer;
    outline: none;
    position: absolute;
    font-weight: bold;
    font-family: 'Comic Sans';
    font-size: 24px;
}

@font-face {
    font-family: 'Comic Sans';
    src: url('./fonts/comic.ttf');
}